*{
    margin: 0;
    padding: 0;
}
#headimg{
    width: 100%;
}
.toptxt{
    padding: 40px 0 40px 0;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 1.7rem;
    font-weight: bold;
}